service_account_key_file = "terraform-key.json"
cloud_id                 = "b1g8hotugvsdigknos1k"
folder_id                = "b1g97nk43unle0o4u325"
zone                     = "a"
bucket_name              = "vltf-state-bucket"
access_key               = "Qpy..."
secret_key               = "gpqt..."
